[Unit]
Description = disable /sys/firmware/acpi/interrupts/gpe13

[Service]
ExecStart = /usr/local/bin/disable_gpe13.sh
Restart = no
Type = simple

[Install]
WantedBy = multi-user.target
